Repository pagermon/pagermon, pull requests merged in 2019-01, with the labels that each got.

#172 Plugin: Regex Replace
  server/plugins/RegexReplace.js
  server/plugins/RegexReplace.json
Labels: Plugins

#182 Update FontAwesome url to point to v4 icons
  server/public/templates/admin/aliasDetails.html
Labels: ADMIN, UI

#173 Flex frag + retries
  client/reader.js
Labels: CLIENT

#183 PDW 2 pagermon
  client/pdw2pagermon.py
Labels: CLIENT

#214 Fix AliasRefresh Button not appearing
  CHANGELOG.md
  server/public/javascripts/admin/admin.main.js
Labels: bug
