Repository pagermon/pagermon, pull requests merged in 2019-11, with the labels that each got.

#335 Knex Legacy Code Cleanup
  CHANGELOG.md
  server/app.js
  server/db.js
Labels: CLEANUP, DB, KNEX

#325 Add Webhook plugins
  CHANGELOG.md
  server/plugins/AdvancedWebhook.js
  server/plugins/AdvancedWebhook.json
  server/plugins/SimpleWebhook.js
  server/plugins/SimpleWebhook.json
Labels: Plugins

#347 Enable Help button
  CHANGELOG.md
  server/public/templates/admin/admin.html
Labels: ADMIN, enhancement
