Repository pagermon/pagermon, pull requests merged in 2019-07, with the labels that each got.

#299 Add pretty badges to readme
  README.md
Labels: DOCUMENTATION

#298 Admin Show - Disable PDW mode for admins
  CHANGELOG.md
  server/config/default.json
  server/public/templates/admin/settings.html
  server/routes/api.js
  server/routes/index.js
  server/views/index.ejs
Labels: ADMIN, API, UI

#300 Add Agency Route
  CHANGELOG.md
  server/routes/api.js
  server/views/index.ejs
Labels: API
