Repository pagermon/pagermon, pull requests merged in 2019-05, with the labels that each got.

#272 Fix #269
  CHANGELOG.md
  server/db.js
  server/knex/migrations/20190322204646_create_capcodes_table.js
  server/knex/migrations/20190322204706_create_messages_table.js
  server/knex/migrations/20190322204710_create_indexes_triggers.js
  server/knex/migrations/20190425225205_sqlite_triggers.js
Labels: DB, KNEX, MySQL

#273 Hide MySQL Password in settings
  CHANGELOG.md
  server/public/javascripts/admin/admin.main.js
  server/public/templates/admin/settings.html
Labels: UI

#274 Remove double quote stripping
  CHANGELOG.md
  server/routes/api.js
Labels: API, DB, KNEX, enhancement

#281 Database Fixes
  CHANGELOG.md
  server/app.js
  server/knex/migrations/20190322204646_create_capcodes_table.js
  server/knex/migrations/20190322204706_create_messages_table.js
  server/knex/migrations/20190322204710_create_indexes_triggers.js
  server/public/templates/admin/settings.html
  server/routes/api.js
Labels: CLEANUP, DB, KNEX

#275 Add Sticky Buttons
  CHANGELOG.md
  server/public/stylesheets/style.css
  server/public/templates/admin/aliasDetails.html
  server/public/templates/admin/aliases.html
  server/public/templates/admin/settings.html
Labels: UI, enhancement

#154 Plugin - Shell Script
  CHANGELOG.md
  server/plugins/Shell.js
  server/plugins/Shell.json
  server/plugins/Shell/.gitignore
Labels: Plugins

#286 DoS Vulnerability Fix
  CHANGELOG.md
  server/views/index.ejs
Labels: bug, vulnerability

#287 0.3.2 Release
  CHANGELOG.md
  server/app.js
  server/knex/migrations/20190322204646_create_capcodes_table.js
  server/knex/migrations/20190322204706_create_messages_table.js
  server/knex/migrations/20190322204710_create_indexes_triggers.js
  server/package.json
  server/plugins/Shell.js
  server/plugins/Shell.json
  server/plugins/Shell/.gitignore
  server/public/stylesheets/style.css
  server/public/templates/admin/aliasDetails.html
  server/public/templates/admin/aliases.html
  server/public/templates/admin/settings.html
  server/routes/api.js
  server/views/index.ejs
Labels: RELEASE
